@model List<PersonaModel>

<h2>Lista de Personas</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Persona</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Tipo Persona</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var persona in Model)
        {
            <tr>
                <td>@persona.Id</td>
                <td>@persona.Nombre</td>
                <td>@persona.Apellido</td>
                <td>@persona.Correo</td>
                <td>@persona.TipoPersona.Nombre</td>
                <td>@(persona.Estado ? "Activo" : "Inactivo")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@persona.Id" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Edit" asp-route-id="@persona.Id" class="btn btn-primary btn-sm">Editar</a>
                    <a asp-action="Delete" asp-route-id="@persona.Id" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
