@model List<LibroModel>

<h2>Lista de Libros</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Libro</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Categoría</th>
            <th>Editorial</th>
            <th>Ubicación</th>
            <th>Ejemplares</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var libro in Model)
        {
            <tr>
                <td>@libro.Id</td>
                <td>@libro.Titulo</td>
                <td>@libro.Autor.Nombre</td>
                <td>@libro.Categoria.Nombre</td>
                <td>@libro.Editorial.Nombre</td>
                <td>@libro.Ubicacion</td>
                <td>@libro.Ejemplares</td>
                <td>@(libro.Estado ? "Activo" : "Inactivo")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@libro.Id" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Edit" asp-route-id="@libro.Id" class="btn btn-primary btn-sm">Editar</a>
                    <a asp-action="Delete" asp-route-id="@libro.Id" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
