@model List<EditorialModel>

<h2>Lista de Editoriales</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Editorial</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var editorial in Model)
        {
            <tr>
                <td>@editorial.Id</td>
                <td>@editorial.Nombre</td>
                <td>@(editorial.Estado ? "Activo" : "Inactivo")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@editorial.Id" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Edit" asp-route-id="@editorial.Id" class="btn btn-primary btn-sm">Editar</a>
                    <a asp-action="Delete" asp-route-id="@editorial.Id" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
